@mixin pm($padding:0,$margin:0) {
  padding: $padding;
  margin: $margin;
}

@mixin font($size:1rem,$family:Poppins,$color:black) {
  font-family: $family, sans-serif;
  font-size: $size;
  color: $color;
}

@import "components/header.scss";
@import "components/best_app.scss";
@import "components/likes.scss";
@import "components/apps_features.scss";
@import "components/code_integration.scss";
@import "components/choose_app.scss";
@import "components/ultimate_features.scss";







