@mixin pm($padding:0,$margin:0) {
  padding: $padding;
  margin: $margin;
}

@mixin font($size:1rem,$family:Poppins) {
  font-family: $family, sans-serif;
  font-size: $size;
}

* {
  @include pm;
}

header {
  padding: 100px 0 70px;
  margin: auto;

  .row {
    align-items: center;


    ul, li, {
      @include pm;
      list-style: none;
    }

    .menu {
      width: 461px;

      a {
        color: #242f51;
        font-family: Poppins, sans-serif;
      }
    }

    .btn {
      @include pm;
      width: 170px;
      height: 57px;
      border-radius: 29px;
      background-color: #2500f9;
    }

    .logo {
      font-family: Poppins, sans-serif;
      font-size: 30px;
      font-weight: 700;
      color: #242f51;
      @include pm;

      .orange {
        color: #fcae61;
      }
    }
  }
}

.best-app {
  background: url("../../images/z-1.png") 200% no-repeat,
  url("../../images/z-0.png") no-repeat bottom;

  .title {
    color: #242f51;
    font-family: "Poppins - Semi Bold", sans-serif;
    font-size: 3.75rem;
    line-height: 75px;
  }

  .subtitle {
    color: #616368;
    @include font;
    font-size: 1.125rem;
    max-width: 481px;
  }

  .link {
    align-items: center;
    width: 349px;
    justify-content: space-between;

    .btn {
      color: #ffffff;
      @include font;
      font-weight: 700;
      width: 170px;
      height: 57px;
      border-radius: 29px;
      background-color: #2500f9;
    }

    a {
      color: #2500f9;
      @include font;
    }

  }
}

.likes {
  padding: 114px 0;
  .images {
    margin: auto;

  }
}

.apps_features{
  .title{
    color: #242f51;
    @include font(2.25rem,"Poppins - Semi Bold");
  }
  .desk{
    color: #616368;
    @include  font;
  }
  .row{
    h5{
      @include font(1.25rem,"Poppins - Semi Bold")
    }
    p{
      color: #616368;
      @include font;
    }
    .one_h{
      color: #f55767;
    }
    .two_h{
      color: #2563ff;
    }
    .three_h{
      color: #40975f;
    }
    .wrapper{
      margin: 92px 0;
    }
    .row{
      padding: 31px 0;
    }
  }
}





@media (max-width: 991.98px) {
  *{
    text-align: center;
  }


  .best-app {
    .subtitle{
      max-width: 100%;
    }
    .link{
      margin: 0 auto;
    }
  }
}


