header {
  padding: 100px 0 70px;
  margin: auto; }
  header .row {
    align-items: center; }
    header .row ul, header .row li {
      padding: 0;
      margin: 0;
      list-style: none; }
    header .row .menu {
      width: 461px; }
      header .row .menu a {
        font-family: Poppins, sans-serif;
        font-size: 1rem;
        color: #242f51; }
    header .row .btn {
      padding: 0;
      margin: 0;
      width: 170px;
      height: 57px;
      border-radius: 29px;
      background-color: #2500f9; }
    header .row .logo {
      font-weight: 700;
      font-family: Poppins, sans-serif;
      font-size: 1.875rem;
      color: #242f51;
      padding: 0;
      margin: 0; }
      header .row .logo .orange {
        color: #fcae61; }

* {
  padding: 0;
  margin: 0; }

@media (max-width: 991.98px) {
  * {
    text-align: center; }
  header .row li {
    padding: 5px 0; }
  header .row .menu {
    width: auto; } }

.best-app {
  background: url("../../images/z-1.png") 200% no-repeat, url("../../images/z-0.png") no-repeat bottom; }
  .best-app .aside {
    background: #e2eaed;
    height: 35px;
    border-radius: 18px;
    text-align: center;
    align-items: center;
    justify-content: center; }
  .best-app .title {
    line-height: 75px;
    font-family: "Poppins - Semi Bold", sans-serif;
    font-size: 3.75rem;
    color: #242f51; }
  .best-app .subtitle {
    font-family: Poppins, sans-serif;
    font-size: 1.25rem;
    color: #616368;
    max-width: 481px;
    padding: 20px 0; }
  .best-app .link {
    align-items: center;
    max-width: 349px;
    justify-content: space-between; }
    .best-app .link .btn {
      font-family: Poppins, sans-serif;
      font-size: 1rem;
      color: #fff;
      font-weight: 700;
      width: 170px;
      height: 57px;
      border-radius: 29px;
      background-color: #2500f9; }
    .best-app .link a {
      font-family: Poppins, sans-serif;
      font-size: 1rem;
      color: #2500f9; }

@media (max-width: 991.98px) {
  .best-app .subtitle {
    max-width: 100%; }
  .best-app .aside {
    margin: auto; }
  .best-app .link {
    margin: 0 auto; } }

@media (max-width: 991.98px) {
  .w-sm-100 {
    width: 100%; } }

.likes {
  padding: 114px 0; }
  .likes .images {
    margin: auto;
    align-items: center; }
    .likes .images img {
      margin: 20px auto; }

.apps_features .row {
  padding: 31px 0; }
  .apps_features .row .title {
    font-family: "Poppins - Semi Bold", sans-serif;
    font-size: 2.25rem;
    color: #242f51; }
  .apps_features .row .desk {
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    color: #616368; }
  .apps_features .row .image__item {
    margin: 0 -100px; }
  .apps_features .row h5 {
    font-family: "Poppins - Semi Bold", sans-serif;
    font-size: 1.25rem;
    color: black; }
  .apps_features .row p {
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    color: #616368; }
  .apps_features .row .one_h {
    color: #f55767; }
  .apps_features .row .two_h {
    color: #2563ff; }
  .apps_features .row .three_h {
    color: #40975f; }
  .apps_features .row .wrapper {
    margin: 92px 0; }
    .apps_features .row .wrapper .row {
      max-width: 450px;
      margin: auto; }
  .apps_features .row .caption {
    line-height: 50px;
    font-family: "Poppins - Semi Bold", sans-serif;
    font-size: 2.5rem;
    color: #242f51; }
  .apps_features .row .subtitle {
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    color: #616368; }
  .apps_features .row .line {
    width: 1px;
    background-color: #4b4a48;
    opacity: 0.39;
    height: 147px; }

.apps_features .jackpots {
  max-width: 900px;
  margin: auto; }

.apps_features .blood {
  max-width: 1024px;
  margin: auto; }
  .apps_features .blood .wrapper .title {
    font-family: "Poppins - Semi Bold", sans-serif;
    font-size: 1.25rem;
    color: black; }
    .apps_features .blood .wrapper .title h3 {
      font-size: 1.25rem; }
  .apps_features .blood .wrapper .title_one {
    color: #f55767; }
  .apps_features .blood .wrapper .title_two {
    color: #2563ff; }
  .apps_features .blood .wrapper .title_three {
    color: #40975f; }

@media (max-width: 767.98px) and (min-width: 576px) {
  .apps_features .apps_features {
    width: 70%; }
    .apps_features .apps_features .row .block .wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-basis: 40%; }
    .apps_features .apps_features .row .block .row {
      width: 260px; } }

@media (max-width: 991.98px) {
  .apps_features .row .line {
    width: 100%;
    height: 1px; }
  .apps_features .row .wrapper {
    margin: auto; } }

.code_integration .row {
  max-width: 1115px; }
  .code_integration .row .wrapper .title {
    font-family: "Poppins - Semi Bold", sans-serif;
    font-size: 2.25rem;
    color: #242f51;
    padding: 29px 0; }
  .code_integration .row .wrapper .subtitle {
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    color: #616368; }
  .code_integration .row .wrapper .btn {
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
    border-radius: 29px;
    background-color: #2500f9;
    width: 170px;
    height: 57px;
    margin: 26px 0; }

@media (max-width: 991.98px) {
  .w-md-100 {
    width: 100%; } }

.choose_app {
  padding: 216px 0; }
  .choose_app .container .row {
    text-align: center; }
    .choose_app .container .row .title {
      font-family: "Poppins - Semi Bold", sans-serif;
      font-size: 2.25rem;
      color: #242f51; }
    .choose_app .container .row .text {
      font-family: Poppins, sans-serif;
      font-size: 1rem;
      color: #616368; }
  .choose_app .container .grid .wrapper {
    display: flex;
    flex-direction: column; }
    .choose_app .container .grid .wrapper .caption {
      font-family: "Poppins - Semi Bold", sans-serif;
      font-size: 1.25rem;
      color: #242f51; }
    .choose_app .container .grid .wrapper .image {
      padding: 36px 0; }
    .choose_app .container .grid .wrapper .subtitle {
      padding: 15px 0; }

.ultimate_features .container .row .title {
  font-family: "Poppins - Semi Bold", sans-serif;
  font-size: 2.25rem;
  color: #242f51; }

.ultimate_features .container .row .subtitle {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  color: #616368; }

.ultimate_features .container .grid {
  background-image: url("../../images/Phone_copy.png");
  background-position: 109%;
  background-repeat: no-repeat;
  background-size: 50%; }
  .ultimate_features .container .grid .wrapper {
    max-width: 625px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .ultimate_features .container .grid .wrapper .wrap {
      max-width: 259px;
      padding: 60px 0 30px; }
      .ultimate_features .container .grid .wrapper .wrap .title {
        font-family: "Poppins - Semi Bold", sans-serif;
        font-size: 1.25rem;
        color: #242f51; }
      .ultimate_features .container .grid .wrapper .wrap .image {
        padding: 0 0 36px; }
      .ultimate_features .container .grid .wrapper .wrap .text {
        padding: 15px 0; }
