header {
  padding: 100px 0 70px;
  margin: auto; }
  header .row {
    align-items: center; }
    header .row ul, header .row li {
      padding: 0;
      margin: 0;
      list-style: none; }
    header .row .menu {
      width: 461px; }
      header .row .menu a {
        font-family: Poppins, sans-serif;
        font-size: 1rem;
        color: #242f51; }
    header .row .btn {
      padding: 0;
      margin: 0;
      width: 170px;
      height: 57px;
      border-radius: 29px;
      background-color: #2500f9; }
    header .row .logo {
      font-weight: 700;
      font-family: Poppins, sans-serif;
      font-size: 1.875rem;
      color: #242f51;
      padding: 0;
      margin: 0; }
      header .row .logo .orange {
        color: #fcae61; }

* {
  padding: 0;
  margin: 0; }

.best-app {
  background: url("../../images/z-1.png") 200% no-repeat, url("../../images/z-0.png") no-repeat bottom; }
  .best-app .aside {
    background: #e2eaed;
    width: 362px;
    height: 35px;
    border-radius: 18px;
    text-align: center;
    align-items: center;
    justify-content: center; }
  .best-app .title {
    line-height: 75px;
    font-family: "Poppins - Semi Bold", sans-serif;
    font-size: 3.75rem;
    color: #242f51; }
  .best-app .subtitle {
    font-family: Poppins, sans-serif;
    font-size: 1.25rem;
    color: #616368;
    max-width: 481px; }
  .best-app .link {
    align-items: center;
    width: 349px;
    justify-content: space-between; }
    .best-app .link .btn {
      font-family: Poppins, sans-serif;
      font-size: 1rem;
      color: #fff;
      font-weight: 700;
      width: 170px;
      height: 57px;
      border-radius: 29px;
      background-color: #2500f9; }
    .best-app .link a {
      font-family: Poppins, sans-serif;
      font-size: 1rem;
      color: #2500f9; }

.likes {
  padding: 114px 0; }
  .likes .images {
    margin: auto;
    align-items: center; }
    .likes .images img {
      height: 100%; }

.apps_features .title {
  font-family: "Poppins - Semi Bold", sans-serif;
  font-size: 2.25rem;
  color: #242f51; }

.apps_features .desk {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  color: #616368; }

.apps_features .row {
  padding: 31px 0; }
  .apps_features .row h5 {
    font-family: "Poppins - Semi Bold", sans-serif;
    font-size: 1.25rem;
    color: black; }
  .apps_features .row p {
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    color: #616368; }
  .apps_features .row .one_h {
    color: #f55767; }
  .apps_features .row .two_h {
    color: #2563ff; }
  .apps_features .row .three_h {
    color: #40975f; }
  .apps_features .row .wrapper {
    margin: 92px 0; }
  .apps_features .row .caption {
    line-height: 50px;
    font-family: "Poppins - Semi Bold", sans-serif;
    font-size: 2.5rem;
    color: #242f51; }
  .apps_features .row .subtitle {
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    color: #616368; }
  .apps_features .row .line {
    width: 1px;
    background-color: #4b4a48;
    opacity: 0.39;
    height: 147px; }

.apps_features .jackpots {
  max-width: 900px;
  margin: auto; }

@media (max-width: 991.98px) {
  * {
    text-align: center; }
  header .row li {
    padding: 5px 0; }
  header .row .menu {
    width: auto; }
  .best-app .subtitle {
    max-width: 100%; }
  .best-app .link {
    margin: 0 auto; } }
