$grey: #616368;
$dark-blue: #242f51;
$pink: #f55767;
$blue: #2563ff;
$light-green: #40975f;
$dark-grey: #4b4a48;
$light-yellow: #feaa25;
$sapphirine: #2500f9;
$white: #e5e6e5;
$light-grey: #999ca5;
$very-dark-blue: #09142e;
$orange: #fcae61;
$dark-white: #f5f7fa;