header {
  @include pm(100px 0 70px, auto);

  .row {
    align-items: center;


    ul, li, {
      @include pm;
      list-style: none;
    }

    .menu {
      width: 461px;

      a {
        @include font(1rem, Poppins, #242f51); //#242f51
      }
    }

    .btn {
      @include pm;
      width: 170px;
      height: 57px;
      border-radius: 29px;
      background-color: #2500f9;
      
    }

    .menu-toggle{
      padding: 0;
      justify-content: center;
      .btn{
          background: #40975f;
        }
      }

    .logo {
      font-weight: 700;
      @include font(1.875rem, Poppins, #242f51);
      @include pm;

      .orange {
        color: #fcae61;
      }
    }
  }
}


@media (max-width: 991.98px) {

  header {
    .row {
      li {
        padding: 5px 0;
      }

      .menu {
        width: auto;
      }
    }
  }
}

@media (max-width: 575.98px) {

  header{
    .row{
      .btn{
          margin: 8px auto;
      }
    }
  }
}